html{
	scroll-behavior: smooth;
}

body{
	font-family: Lato, Helvetica, Verdana, sans-serif;
}

.jam{
	height: 100vh;
	background: #3498db;
}

.jam a {
	color: #fff;
	text-decoration: underline;
}

.baseline{
	font-family: 'Lato Light', Helvetica, Verdana, sans-serif;
	color: #ffffff;
}

.stores img {
	height: 50px;
}

.stores img:first-of-type {
	margin-right: 5px;
}

.auth-header {
	font-size: 2rem;
}

@media (max-width:992px) {
	.auth-header {
		font-size: 1.5rem;
	}
}

.btn-primary{
	background: #3498db;
	border-color: #3498db;
}

.btn-primary:hover{
	background: #2A79B0;
	border-color: #2A79B0;
}