html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;

    color: white;
    font-family: "Helvetica Neue", Verdana, sans-serif;
}

@-webkit-keyframes progressive {
	0%   { width:0px; }
	100% { width:205px; }
}

@-moz-keyframes progressive {
	0%   { width:0px; }
	100% { width:205px; }
}

@-o-keyframes progressive {
	0%   { width:0px; }
	100% { width:205px; }
}

@keyframes progressive {
	0%   { width:0px; }
	100% { width:205px; }
}

h1 {
	font-size: 28px;
}

.container{
	min-height: 100%;
	width: auto;
	text-align: center;
	background: #3598db;
}

.content {
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: calc(100vh - 100px);
}

.header{
	width: 100%;
	top: 0;
	padding-top: 3%;
}

.qrcode{
	margin: auto;
	background: white;
	border-radius: 10px;

	-webkit-animation: progressive 1s;
	-moz-animation:    progressive 1s;
	-o-animation:      progressive 1s;
	animation:         progressive 1s;		
}

.footer{
	width: 100%;
	padding: 20px 0 40px;
}

.footer img{
	width: 250px;
	max-width: 90%;
}

.btn-mobile{
	background: #fff;
	color: #000;
	display: block;
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
}

.home-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30vh;
}

.home-container a {
	background-color: #ff9f43;
	color: white;
	font-size: 18px;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: #0003 0 0 10px 0;
}

.home-container a:hover {
	transform: scale(1.05);
	transition-duration: .3s;
}