html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;

    color: white;
    font-family: "Helvetica Neue", Verdana, sans-serif;
}

@-webkit-keyframes progressive {
	0%   { width:0px; }
	100% { width:205px; }
}

@-moz-keyframes progressive {
	0%   { width:0px; }
	100% { width:205px; }
}

@-o-keyframes progressive {
	0%   { width:0px; }
	100% { width:205px; }
}

@keyframes progressive {
	0%   { width:0px; }
	100% { width:205px; }
}

.container{
	height: 100%;
	width: auto;
	display: flex;
	text-align: center;
	background: #3598db;	
}

.header{
	position: absolute; 
	width: 100%;
	top: 0;
	padding-top: 5%;
}

.centered{
	margin: auto;
}

.qrcode{
	margin-top: 5%;
	background: white;
	border-radius: 10px;	
	
	-webkit-animation: progressive 1s;
	-moz-animation:    progressive 1s;
	-o-animation:      progressive 1s;
	animation:         progressive 1s;		
}

.footer{
	position: absolute; 
	width: 100%;
	bottom: 0;
	padding-bottom: 5%;
}

.footer img{
	width: 250px;
	max-width: 90%;
}

.btn-mobile{
	background: #fff;
	color: #000;
	display: block;
	margin-top: 30px;
	font-size: 14px;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
}